body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    position: relative;
    background-color: #34495e;
    font-family: cursive;
    overflow: hidden;
}



.container h2{
    color: #fff;
    font-size: 35px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 25%;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.year{
    font-size: 5em;
    color: #fff;

}

.countdown{
    position: absolute;
    left: 0%;
    display: flex;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    margin-top: 20px;
    height: 100px;
    align-items: center;
    justify-content: center;
    

}

.countdown div{
    margin-left: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    text-align:left;
    width: 100px;
}

.container div::before{
    content: "";
    position: absolute;
    bottom: -20px;
    font-size: .35em;
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    width: 100%;
    height: 35px;
}
.container .day::before{
    content: "Days";
}

.container .hour::before{
    content: "hours";
}

.container .minutes::before{
    content: "minutes";
}

.container .seconds::before{
    content: "seconds";
}

