* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: white;
    height: 10vh;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    /* justify-content: center; */
    font-family: "Mona Sans", sans-serif;

}

nav li {
    list-style: none;
}

.gamecontainer {

    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.box {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(2rem, 5vw, 3rem);
    cursor: pointer;
    font-family: "Baloo Da 2", sans-serif;
}

.box:hover {
    background-color: rgb(245, 221, 189);
}

.gameinfo {
    font-family: "Baloo Da 2", sans-serif;
}


.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

#reset {
    margin: 0 190px;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.info{
    margin-right: 10px;
    font-size: 20px;
    position: absolute;
}